@using InventorySystem.Core.Entities
@model List<Menu>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h1>Menus:</h1>
    @foreach (var menu in @Model)
    {
        <div>
            @*<a asp-area="@menu.AreaName" asp-controller="@menu.ControllerName" asp-action="@menu.ActionName">@menu.AreaName - @menu.ControllerName - @menu.ActionName</a>*@
            <a href="@Url.Action(menu.ActionName, menu.ControllerName, new{ area = menu.AreaName })">@menu.MenuName</a>

        </div>
        
    }
    
</div>

